# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [3]:
 df = pd.read_csv('marketing.csv')
 df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [4]:
df.isnull().sum()/len(df)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response]
Index: []

[0 rows x 27 columns]

### 5. Drop the columns which you think redundant for the analysis

In [6]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [7]:
df['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
df['Marital_Status'].replace(['Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'],'Single')

In [ ]:
df['Marital_Status'].replace(['Together', 'Married'],'Relationship')

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [27]:
df.groupby(by="MntWines")
columns_series = pd.Series(df.columns)
req_columns = columns_series[columns_series.str.contains('Mnt')].values.tolist()
df['Total_Expenses'] =  df[req_columns].sum(axis=1)
df['Total_Expenses']

0       1617
1         27
2        776
3         53
4        422
        ...
2235    1341
2236     444
2237    1241
2238     843
2239     172
Length: 2240, dtype: int64

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

In [18]:
columns_series = pd.Series(df.columns)

In [21]:
req_columns = columns_series[columns_series.str.contains('Num')].values.tolist()

In [23]:
df['Num_Total_Purchases'] =  df[req_columns].sum(axis=1)

In [24]:
df['Num_Total_Purchases']

0       32
1       11
2       25
3       14
4       24
        ..
2235    23
2236    29
2237    25
2238    26
2239    18
Name: Num_Total_Purchases, Length: 2240, dtype: int64

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [12]:
columns_series = pd.Series(df.columns)
req_columns = columns_series[columns_series.str.contains('home')].values.tolist()
df['Kids'] =  df[req_columns].sum(axis=1)
df['Kids']

0       0
1       2
2       0
3       1
4       1
       ..
2235    1
2236    3
2237    0
2238    1
2239    2
Name: Kids, Length: 2240, dtype: int64

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [56]:
df1 = df.copy()

In [57]:
df1['TotalAcceptedCmp'] = df1['AcceptedCmp1'] + df1['AcceptedCmp2'] + df1['AcceptedCmp3']  + df1['AcceptedCmp4']  + df1['AcceptedCmp5'] + df1['Response']

In [58]:
df1['TotalAcceptedCmp']

0       1
1       0
2       0
3       0
4       0
       ..
2235    0
2236    1
2237    1
2238    0
2239    1
Name: TotalAcceptedCmp, Length: 2240, dtype: int64

### 11. Drop those columns which we have used above for obtaining new features

In [59]:
df1.drop(['AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','Response'],axis =1,inplace=True )

In [60]:
df1.info

<bound method DataFrame.info of          ID  Year_Birth  Education  Marital_Status   Income  Kidhome  \
0      5524        1957          2               4  58138.0        0
1      2174        1954          2               4  46344.0        1
2      4141        1965          2               5  71613.0        0
3      6182        1984          2               5  26646.0        1
4      5324        1981          4               3  58293.0        1
...     ...         ...        ...             ...      ...      ...
2235  10870        1967          2               3  61223.0        0
2236   4001        1946          4               5  64014.0        2
2237   7270        1981          2               2  56981.0        0
2238   8235        1956          3               5  69245.0        0
2239   9405        1954          4               3  52869.0        1

      Teenhome  Dt_Customer  Recency  MntWines  ...  MntSweetProducts  \
0            0          553       58       635  ...                88
1            1          629       38        11  ...                 1
2            0          293       26       426  ...                21
3            0           31       26        11  ...                 3
4            0          216       94       173  ...                27
...        ...          ...      ...       ...  ...               ...
2235         1           98       46       709  ...               118
2236         1           39       56       406  ...                 0
2237         0          370       91       908  ...                12
2238         1          349        8       428  ...                30
2239         1          145       40        84  ...                 1

      MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
0               88                  3                8                   10
1                6                  2                1                    1
2               42                  1                8                    2
3                5                  2                2                    0
4               15                  5                5                    3
...            ...                ...              ...                  ...
2235           247                  2                9                    3
2236             8                  7                8                    2
2237            24                  1                2                    3
2238            61                  2                6                    5
2239            21                  3                3                    1

      NumStorePurchases  NumWebVisitsMonth  Complain  Kids  TotalAcceptedCmp
0                     4                  7         0     0                 1
1                     2                  5         0     2                 0
2                    10                  4         0     0                 0
3                     4                  6         0     1                 0
4                     6                  5         0     1                 0
...                 ...                ...       ...   ...               ...
2235                  4                  5         0     1                 0
2236                  5                  7         0     3                 1
2237                 13                  6         0     0                 1
2238                 10                  3         0     1                 0
2239                  4                  7         0     2                 1

[2240 rows x 23 columns]>

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [61]:
df1['age'] = 2023-df1['Year_Birth']
df1.drop('Year_Birth',axis =1,inplace=True)

### 13. Encode the categorical variables in the dataset

In [62]:

from sklearn.preprocessing import StandardScaler,LabelEncoder
df_cat = df1.select_dtypes(include='object')
#df_cat = df_cat.replace(to_replace ="?",value ="Private")
df_cat

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2240 rows x 0 columns]

In [63]:
## Label encoding
le = LabelEncoder()
for col in df_cat:
    df1[col] = le.fit_transform(df1[col])

### 14. Standardize the columns, so that values are in a particular range

In [64]:
## Standardization
df2 = df.copy()
scaled_features = StandardScaler().fit_transform(df2.values)
scaled_features_df = pd.DataFrame(scaled_features, index=df2.index, columns=df2.columns)
scaled_features_df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Kids
0,-0.020999,-0.985345,-0.350141,0.251004,0.234063,-0.825218,-0.929894,1.187363,0.307039,0.983781,...,-0.550785,0.693904,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,2.388846,-1.264505
1,-1.053058,-1.235733,-0.350141,0.251004,-0.234559,1.032559,0.906934,1.582039,-0.383664,-0.870479,...,-1.166125,-0.130463,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,1.396361
2,-0.447070,-0.317643,-0.350141,1.180340,0.769478,-0.825218,-0.929894,-0.162843,-0.798086,0.362723,...,1.295237,-0.542647,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,-1.264505
3,0.181716,1.268149,-0.350141,1.180340,-1.017239,1.032559,-0.929894,-1.523436,-0.798086,-0.870479,...,-0.550785,0.281720,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.065928
4,-0.082614,1.017761,1.428354,-0.678332,0.240221,1.032559,-0.929894,-0.562712,1.550305,-0.389085,...,0.064556,-0.130463,-0.28014,-0.28383,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.065928

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [65]:
## Calculating covariance matrix
cov_matrix = np.cov(scaled_features_df.T)
cov_matrix= cov_matrix.dropna
print('Covariance matrix','\n',cov_matrix)

Covariance matrix
 [[ 1.00044663e+00  2.76368349e-05 -3.84114609e-03  1.95885588e-02
              nan  2.40668086e-03 -2.58104310e-03  2.44967341e-02
  -4.65448809e-02 -2.28885078e-02  4.60211667e-03 -4.43919937e-03
  -2.44858793e-02 -7.64496983e-03 -1.34438344e-02 -3.71824475e-02
  -1.89323486e-02 -3.44167996e-03 -1.49335955e-02 -7.44950801e-03
  -3.60560931e-02 -2.53980586e-02 -7.52038148e-03 -2.16238909e-02
  -1.50676897e-02  3.38981712e-02 -2.19776291e-02 -1.45948170e-04]
 [ 2.76368349e-05  1.00044663e+00 -1.71466853e-01 -6.06069703e-02
              nan  2.30278341e-01 -3.52268696e-01 -2.77779803e-03
  -1.98799637e-02 -1.57842989e-01 -1.79252427e-02 -3.08861876e-02
  -4.16439684e-02 -1.81407051e-02 -6.18457914e-02 -6.08727256e-02
  -1.45104917e-01 -1.21328797e-01 -1.28329345e-01  1.21193363e-01
   6.18020701e-02 -6.05366207e-02  7.12572266e-03 -5.93296539e-03
  -6.54220470e-03 -3.01410006e-02  2.13347389e-02 -9.02395543e-02]
 [-3.84114609e-03 -1.71466853e-01  1.00044663e+00  7.09359926e-03
              nan -4.55846687e-02  1.18537895e-01 -1.00319082e-03
  -1.17336854e-02  1.97663931e-01 -8.04479228e-02  3.36401826e-02
  -1.12272706e-01 -1.05263841e-01 -9.55315770e-02  3.00883137e-02
   8.19442467e-02  7.08136347e-02  7.05142844e-02 -4.02988173e-02
   5.83883041e-03  5.32894097e-02  3.33606497e-02 -1.08496219e-02
   2.13783967e-02 -5.05625191e-02  9.08600553e-02  5.32130438e-02]
 [ 1.95885588e-02 -6.06069703e-02  7.09359926e-03  1.00044663e+00
              nan -2.25633587e-02 -3.59761188e-03  4.21362197e-02
   1.41648789e-02  8.20842851e-03  5.93412251e-04  3.07031169e-02
   3.58238734e-02  1.73894770e-02  1.68900885e-03 -2.17814143e-02
  -1.89493823e-03  1.51319349e-02  1.41215486e-03 -3.12239808e-02
  -2.71253859e-02  1.43874748e-02  1.28225854e-02 -1.71048114e-02
   1.84250307e-02 -5.72028181e-03 -1.14083465e-02 -1.87643704e-02]
 [            nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan             nan]
 [ 2.40668086e-03  2.30278341e-01 -4.55846687e-02 -2.25633587e-02
              nan  1.00044663e+00 -3.61492870e-02 -4.59242966e-03
   8.83067651e-03 -4.96518587e-01 -3.72747856e-01 -4.37324717e-01
  -3.87817089e-01 -3.70838584e-01 -3.49750737e-01  2.21896895e-01
  -3.61808738e-01 -5.02461536e-01 -4.99905737e-01  4.48046223e-01
   1.46809329e-02 -1.61672660e-01 -2.05725573e-01 -1.72415548e-01
  -8.17528789e-02  4.02244659e-02 -8.00435160e-02  6.90279256e-01]
 [-2.58104310e-03 -3.52268696e-01  1.18537895e-01 -3.59761188e-03
              nan -3.61492870e-02  1.00044663e+00  1.65065517e-02
   1.62049769e-02  4.84856984e-03 -1.76842609e-01 -2.61276154e-01
  -2.04278512e-01 -1.62547677e-01 -2.17349723e-02  3.87914246e-01
   1.55569213e-01 -1.10818037e-01  5.07178776e-02  1.34943797e-01
  -4.26959811e-02  3.89037925e-02 -1.91135083e-01 -1.40152113e-01
  -1.56118298e-02  3.13910788e-03 -1.54514570e-01  6.98745355e-01]
 [ 2.44967341e-02 -2.77779803e-03 -1.00319082e-03  4.21362197e-02
              nan -4.59242966e-03  1.65065517e-02  1.00044663e+00
   1.57734729e-02  3.28061657e-03  8.41228452e-03 -2.11129605e-03
   2.86619787e-03  2.61857304e-02 -2.66943999e-02 -1.65210617e-02
   4.01667314e-03  8.86635409e-03 -5.04799986e-03 -2.81416881e-02
  -3.31474653e-02 -3.80325430e-03 -1.30837274e-02  1.48425061e-02
   1.86090085e-02 -8.44621833e-05 -2.35682265e-02  8.66702396e-03]
 [-4.65448809e-02 -1.98799637e-02 -1.17336854e-02  1.41648789e-02
              nan  8.83067651e-03  1.62049769e-02  1.57734729e-02
   1.00044663e+00  1.60710771e-02 -4.30756462e-03  2.30663484e-02
   1.07944935e-03  2.26797308e-02  1.67007272e-02 -1.09885735e-03
  -1.07310773e-02  2.51217067e-02  7.99192352e-04 -2.14542684e-02
  -3.30053252e-02  1.88340262e-02  1.28966919e-04 -1.92913773e-02
  -1.78212325e-03  1.32369878e-02 -1.98525274e-01  1.80614498e-02]
 [-2.28885078e-02 -1.57842989e-01  1.97663931e-01  8.20842851e-03
              nan -4.96518587e-01  4.84856984e-03  3.28061657e-03
   1.60710771e-02  1.00044663e+00  3.89810704e-01  5.62917817e-01
   3.99931202e-01  3.86753812e-01  3.87688755e-01  1.09447580e-02
   5.42506971e-01  6.35509448e-01  6.42387218e-01 -3.20796010e-01
   6.22295678e-02  3.73452743e-01  4.72824346e-01  3.54291365e-01
   2.05999028e-01 -3.90245630e-02  2.47364930e-01 -3.52066291e-01]
 [ 4.60211667e-03 -1.79252427e-02 -8.04479228e-02  5.93412251e-04
              nan -3.72747856e-01 -1.76842609e-01  8.41228452e-03
  -4.30756462e-03  3.89810704e-01  1.00044663e+00  5.43347126e-01
   5.95069166e-01  5.67417251e-01  3.93170542e-01 -1.32173219e-01
   2.96867095e-01  4.88135251e-01  4.61964348e-01 -4.18569838e-01
   1.47334338e-02  1.01567163e-02  2.15929184e-01  1.94835126e-01
  -9.77758863e-03 -5.16859525e-03  1.25344766e-01 -3.95029508e-01]
 [-4.43919937e-03 -3.08861876e-02  3.36401826e-02  3.07031169e-02
              nan -4.37324717e-01 -2.61276154e-01 -2.11129605e-03
   2.30663484e-02  5.62917817e-01  5.43347126e-01  1.00044663e+00
   5.68655994e-01  5.24080181e-01  3.50765116e-01 -1.22470075e-01
   2.93892686e-01  7.24149872e-01  4.79873010e-01 -5.39710766e-01
   1.82799541e-02  1.02958176e-01  3.73935789e-01  3.09899074e-01
   4.30526456e-02 -2.34935417e-02  2.36440674e-01 -5.02431807e-01]
 [-2.44858793e-02 -4.16439684e-02 -1.12272706e-01  3.58238734e-02
              nan -3.87817089e-01 -2.04278512e-01  2.86619787e-03
   1.07944935e-03  3.99931202e-01  5.95069166e-01  5.68655994e-01
   1.00044663e+00  5.80129067e-01  4.23063669e-01 -1.39422869e-01
   2.93811914e-01  5.34717049e-01  4.60060011e-01 -4.46201852e-01
   3.57385570e-04  1.68503211e-02  1.99666915e-01  2.60878562e-01
   2.57785546e-03 -2.09622015e-02  1.11380518e-01 -4.25693325e-01]
 [-7.64496983e-03 -1.81407051e-02 -1.05263841e-01  1.73894770e-02
              nan -3.70838584e-01 -1.62547677e-01  2.61857304e-02
   2.26797308e-02  3.86753812e-01  5.67417251e-01  5.24080181e-01
   5.80129067e-01  1.00044663e+00  3.69889430e-01 -1.20153907e-01
   3.48699953e-01  4.91143188e-01  4.48956380e-01 -4.23483194e-01
   1.53062883e-03  2.86534998e-02  2.59706351e-01  2.41925821e-01
   9.98969163e-03 -2.24950018e-02  1.17424322e-01 -3.83308235e-01]
 [-1.34438344e-02 -6.18457914e-02 -9.55315770e-02  1.68900885e-03
              nan -3.49750737e-01 -2.17349723e-02 -2.66943999e-02
   1.67007272e-02  3.87688755e-01  3.93170542e-01  3.50765116e-01
   4.23063669e-01  3.69889430e-01  1.00044663e+00  4.91070798e-02
   4.22024303e-01  4.37892932e-01  3.81848482e-01 -2.50830716e-01
   1.23146035e-01  2.22779229e-02  1.81102006e-01  1.66470418e-01
   5.00126143e-02 -3.08750100e-02  1.39912598e-01 -2.66214291e-01]
 [-3.71824475e-02 -6.08727256e-02  3.00883137e-02 -2.17814143e-02
              nan  2.21896895e-01  3.87914246e-01 -1.65210617e-02
  -1.09885735e-03  1.09447580e-02 -1.32173219e-01 -1.22470075e-01
  -1.39422869e-01 -1.20153907e-01  4.91070798e-02  1.00044663e+00
   2.34289281e-01 -8.62109502e-03  6.89095893e-02  3.47788621e-01
  -2.31192577e-02  1.56012263e-02 -1.83329706e-01 -1.23299478e-01
  -3.77115939e-02  4.19836440e-04  2.23931296e-03  4.39879971e-01]
 [-1.89323486e-02 -1.45104917e-01  8.19442467e-02 -1.89493823e-03
              nan -3.61808738e-01  1.55569213e-01  4.01667314e-03
  -1.07310773e-02  5.42506971e-01  2.96867095e-01  2.93892686e-01
   2.93811914e-01  3.48699953e-01  4.22024303e-01  2.34289281e-01
   1.00044663e+00  3.78544542e-01  5.02937939e-01 -5.58712742e-02
   4.21943619e-02  1.55972452e-01  1.38745981e-01  1.55212119e-01
   3.42030047e-02 -1.63174795e-02  1.48796012e-01 -1.46426362e-01]
 [-3.44167996e-03 -1.21328797e-01  7.08136347e-02  1.51319349e-02
              nan -5.02461536e-01 -1.10818037e-01  8.86635409e-03
   2.51217067e-02  6.35509448e-01  4.88135251e-01  7.24149872e-01
   5.34717049e-01  4.91143188e-01  4.37892932e-01 -8.62109502e-03
   3.78544542e-01  1.00044663e+00  5.18969966e-01 -5.20596124e-01
   1.04776301e-01  1.39309454e-01  3.22465454e-01  3.08234174e-01
   9.98969559e-02 -2.04622659e-02  2.20909039e-01 -4.40100760e-01]
 [-1.49335955e-02 -1.28329345e-01  7.05142844e-02  1.41215486e-03
              nan -4.99905737e-01  5.07178776e-02 -5.04799986e-03
   7.99192352e-04  6.42387218e-01  4.61964348e-01  4.79873010e-01
   4.60060011e-01  4.48956380e-01  3.81848482e-01  6.89095893e-02
   5.02937939e-01  5.18969966e-01  1.00044663e+00 -4.28663895e-01
  -6.76075625e-02  1.79459566e-01  2.14886104e-01  1.83330566e-01
   8.52274790e-02 -1.65316096e-02  3.93810243e-02 -3.21268380e-01]
 [-7.44950801e-03  1.21193363e-01 -4.02988173e-02 -3.12239808e-02
              nan  4.48046223e-01  1.34943797e-01 -2.81416881e-02
  -2.14542684e-02 -3.20796010e-01 -4.18569838e-01 -5.39710766e-01
  -4.46201852e-01 -4.23483194e-01 -2.50830716e-01  3.47788621e-01
  -5.58712742e-02 -5.20596124e-01 -4.28663895e-01  1.00044663e+00
   6.12384905e-02 -3.21400411e-02 -2.78236747e-01 -1.92587518e-01
  -7.19961588e-03  1.97773363e-02 -3.98837924e-03  4.18606158e-01]
 [-3.60560931e-02  6.18020701e-02  5.83883041e-03 -2.71253859e-02
              nan  1.46809329e-02 -4.26959811e-02 -3.31474653e-02
  -3.30053252e-02  6.22295678e-02  1.47334338e-02  1.82799541e-02
   3.57385570e-04  1.53062883e-03  1.23146035e-01 -2.31192577e-02
   4.21943619e-02  1.04776301e-01 -6.76075625e-02  6.12384905e-02
   1.00044663e+00 -7.95477799e-02  8.03516878e-02  9.47928511e-02
   7.20520853e-02  8.41915612e-03  2.54371842e-01 -2.04114792e-02]
 [-2.53980586e-02 -6.05366207e-02  5.32894097e-02  1.43874748e-02
              nan -1.61672660e-01  3.89037925e-02 -3.80325430e-03
   1.88340262e-02  3.73452743e-01  1.01567163e-02  1.02958176e-01
   1.68503211e-02  2.86534998e-02  2.22779229e-02  1.56012263e-02
   1.55972452e-01  1.39309454e-01  1.79459566e-01 -3.21400411e-02
  -7.95477799e-02  1.00044663e+00  3.06662667e-01  2.51412171e-01
   2.92340372e-01 -2.76238054e-02  1.77097664e-01 -8.76022920e-02]
 [-7.52038148e-03  7.12572266e-03  3.33606497e-02  1.28225854e-02
              nan -2.05725573e-01 -1.91135083e-01 -1.30837274e-02
   1.28966919e-04  4.72824346e-01  2.15929184e-01  3.73935789e-01
   1.99666915e-01  2.59706351e-01  1.81102006e-01 -1.83329706e-01
   1.38745981e-01  3.22465454e-01  2.14886104e-01 -2.78236747e-01
   8.03516878e-02  3.06662667e-01  1.00044663e+00  4.03257702e-01
   2.21631947e-01 -9.42276414e-03  3.26779828e-01 -2.85769900e-01]
 [-2.16238909e-02 -5.93296539e-03 -1.08496219e-02 -1.71048114e-02
              nan -1.72415548e-01 -1.40152113e-01  1.48425061e-02
  -1.92913773e-02  3.54291365e-01  1.94835126e-01  3.09899074e-01
   2.60878562e-01  2.41925821e-01  1.66470418e-01 -1.23299478e-01
   1.55212119e-01  3.08234174e-01  1.83330566e-01 -1.92587518e-01
   9.47928511e-02  2.51412171e-01  4.03257702e-01  1.00044663e+00
   1.75392879e-01 -2.55100041e-02  2.94112827e-01 -2.24987699e-01]
 [-1.50676897e-02 -6.54220470e-03  2.13783967e-02  1.84250307e-02
              nan -8.17528789e-02 -1.56118298e-02  1.86090085e-02
  -1.78212325e-03  2.05999028e-01 -9.77758863e-03  4.30526456e-02
   2.57785546e-03  9.98969163e-03  5.00126143e-02 -3.77115939e-02
   3.42030047e-02  9.98969559e-02  8.52274790e-02 -7.19961588e-03
   7.20520853e-02  2.92340372e-01  2.21631947e-01  1.75392879e-01
   1.00044663e+00 -1.13393827e-02  1.69368272e-01 -6.98545299e-02]
 [ 3.38981712e-02 -3.01410006e-02 -5.05625191e-02 -5.72028181e-03
              nan  4.02244659e-02  3.13910788e-03 -8.44621833e-05
   1.32369878e-02 -3.90245630e-02 -5.16859525e-03 -2.34935417e-02
  -2.09622015e-02 -2.24950018e-02 -3.08750100e-02  4.19836440e-04
  -1.63174795e-02 -2.04622659e-02 -1.65316096e-02  1.97773363e-02
   8.41915612e-03 -2.76238054e-02 -9.42276414e-03 -2.55100041e-02
  -1.13393827e-02  1.00044663e+00 -1.70772633e-03  3.10801443e-02]
 [-2.19776291e-02  2.13347389e-02  9.08600553e-02 -1.14083465e-02
              nan -8.00435160e-02 -1.54514570e-01 -2.35682265e-02
  -1.98525274e-01  2.47364930e-01  1.25344766e-01  2.36440674e-01
   1.11380518e-01  1.17424322e-01  1.39912598e-01  2.23931296e-03
   1.48796012e-01  2.20909039e-01  3.93810243e-02 -3.98837924e-03
   2.54371842e-01  1.77097664e-01  3.26779828e-01  2.94112827e-01
   1.69368272e-01 -1.70772633e-03  1.00044663e+00 -1.69239013e-01]
 [-1.45948170e-04 -9.02395543e-02  5.32130438e-02 -1.87643704e-02
              nan  6.90279256e-01  6.98745355e-01  8.66702396e-03
   1.80614498e-02 -3.52066291e-01 -3.95029508e-01 -5.02431807e-01
  -4.25693325e-01 -3.83308235e-01 -2.66214291e-01  4.39879971e-01
  -1.46426362e-01 -4.40100760e-01 -3.21268380e-01  4.18606158e-01
  -2.04114792e-02 -8.76022920e-02 -2.85769900e-01 -2.24987699e-01
  -6.98545299e-02  3.10801443e-02 -1.69239013e-01  1.00044663e+00]]

In [67]:
## Calculating eigen values and eigen vectors
eig_vals, eig_vecs = np.linalg.eig(cov_matrix)
print('Eigen vectors:','\n',eig_vecs)
print('\n')
print('Eigen values:','\n',eig_vals)

LinAlgError: Array must not contain infs or NaNs

In [68]:
## Calculating the Variance explained and the cummulative variance explained
total = sum(eig_vals)
var_exp = [ (i/total)*100  for i in sorted(eig_vals,reverse=True)]
cum_var_exp = np.cumsum(var_exp)
print('Variance Explained: ',var_exp)
print('Cummulative Variance Explained: ',cum_var_exp)

NameError: name 'eig_vals' is not defined

In [69]:
## Scree plot
plt.bar(range(15),var_exp, align='center',color='lightgreen',edgecolor='black',label='Indiviual Explained Varinace')
plt.step(range(15), cum_var_exp, where='mid',color='red',label='Cummulative explained Variance')
plt.legend(loc = 'best')
plt.ylabel('Explained Variance Ratio')
plt.xlabel('Principal Components')
plt.tight_layout()
plt.show()

NameError: name 'var_exp' is not defined

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

In [70]:
cluster_range = range(1,15)
cluster_errors = []

for num_clusters in cluster_range:
   
    clusters = KMeans(num_clusters, n_init=10)
    clusters.fit(data_pca)
    
    labels = clusters.labels_
    centroids = clusters.cluster_centers_
    
    cluster_errors.append(clusters.inertia_)

clusters_df = pd.DataFrame({'num_clusters':cluster_range, 
                           'cluster_errors':cluster_errors})

clusters_df

NameError: name 'KMeans' is not defined

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

In [71]:
plt.figure(figsize=[18,7])
merg = linkage(data_pca, method='ward')
dendrogram(merg, leaf_rotation=90,)
plt.xlabel('Datapoints')
plt.ylabel('Euclidean distance')
plt.show()

NameError: name 'linkage' is not defined

### Visualization and Interpretation of results

-----
## Happy Learning
-----